<template name='clients'>
  <h3>Página de clientes</h3>
  <p>
    huf rigaakfjgaiulg harjgbauhf goarkg naoifniabrg anrig iargar
    rg aiwurghawiruh goahgoajrog aihg naerg
    rg airg haiurgkjasjglnkar ailurg urgiaurgpa rhgargr irierhirbgi
    vruerhueojerigohiguhtiuslhlghseçege
    rgergie jorgheo rjeor ghe uhwiuehrogiej vger8vr v ewh 9hghp 8gqo hgq
    huf rigaakfjgaiulg harjgbauhf goarkg naoifniabrg anrig iargar
    rg aiwurghawiruh goahgoajrog aihg naerg
    rg airg haiurgkjasjglnkar ailurg urgiaurgpa rhgargr irierhirbgi
    vruerhueojerigohiguhtiuslhlghseçege
    rgergie jorgheo rjeor ghe uhwiuehrogiej vger8vr v ewh 9hghp 8gqo hgq
    huf rigaakfjgaiulg harjgbauhf goarkg naoifniabrg anrig iargar
    rg aiwurghawiruh goahgoajrog aihg naerg
    rg airg haiurgkjasjglnkar ailurg urgiaurgpa rhgargr irierhirbgi
    vruerhueojerigohiguhtiuslhlghseçege
    rgergie jorgheo rjeor ghe uhwiuehrogiej vger8vr v ewh 9hghp 8gqo hgq
    huf rigaakfjgaiulg harjgbauhf goarkg naoifniabrg anrig iargar
    rg aiwurghawiruh goahgoajrog aihg naerg
    rg airg haiurgkjasjglnkar ailurg urgiaurgpa rhgargr irierhirbgi
    vruerhueojerigohiguhtiuslhlghseçege
    rgergie jorgheo rjeor ghe uhwiuehrogiej vger8vr v ewh 9hghp 8gqo hgq
    huf rigaakfjgaiulg harjgbauhf goarkg naoifniabrg anrig iargar
    rg aiwurghawiruh goahgoajrog aihg naerg
    rg airg haiurgkjasjglnkar ailurg urgiaurgpa rhgargr irierhirbgi
    vruerhueojerigohiguhtiuslhlghseçege
    rgergie jorgheo rjeor ghe uhwiuehrogiej vger8vr v ewh 9hghp 8gqo hgq
  </p>
</template>
